body {
    background-color: #f5f7fa;
    font-family: Arial, sans-serif;
    color: #333;
}

h1, h2 {
    color: #1a5276;
}
.alert-box {
    background-color: #f8d7da;
    color: #721c24;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
}
.row-emergency {
    background-color: #ffcccc;
}

.row-high {
    background-color: #fff3cc;
}

.row-normal {
    background-color: #ccffcc;
}